<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roy1473.restaurantexamle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.roy1473.restaurantexample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.roy1473.restaurantexample.DetailActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.OsakaArea" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.UmedaAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.FukushimaAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.YodoyabashiAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.KyobashiAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.ShinsaibashiAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.TennojiAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.TsuruhashiAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.NagaiAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.SekimeAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.OsakaCityAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.SakaiAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.TakatsukiAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.IbarakiAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.KishiwadaAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.MatsubaraAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.EsakaAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.HigashiOsakaAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.KujoAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.HirakataAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.OsakaSonotaAreaActivity" />
        <activity android:name="com.example.roy1473.restaurantexample.Osakas.MinoAreaActivity"></activity>
    </application>

</manifest>